@charset "utf-8";
/* CSS Document */
html{height:100%; }
.body-login {overflow:hidden;
	margin: 0px;
	padding: 0px;
	background:#fff url(../../../images/loginbg@2x.png) no-repeat left bottom;	
	background-size: 100% auto;
}
.app-login{background:none; height:100%; margin:0 15px; }

.app-logo{background:url(../../../images/logo@2x.png) no-repeat center center; background-size:auto 120px; height:200px;}
.app-login-icon{ display:inline-block; float:left; margin-top:-4px; width:30px; height:30px;background:url(../../../images/login-icon-1@2x.png) no-repeat center center; background-size:cover; margin-right:10px; }
.app-login-icon.icon-2{background:url(../../../images/login-icon-2@2x.png) no-repeat center center;background-size:cover; }
.area { margin: 20px auto 0px auto; }
.mui-input-group { margin-top: 10px; border:none;}
.mui-input-group:first-child { margin-top: 20px; }
.mui-input-group label { width: 45%; }
.mui-input-row label~input, .mui-input-row label~select, .mui-input-row label~textarea { width: 55%; }


.mui-checkbox input[type=checkbox], .mui-radio input[type=radio] { top: 6px; }
.mui-content-padded { margin-top: 25px; }
.mui-btn { padding: 10px; }
.link-area { display: block; margin-top: 25px; text-align: center; }
.spliter { color: #bbb; padding: 0px 8px; }
.oauth-area { position: absolute; bottom: 20px; left: 0px; text-align: center; width: 100%; padding: 0px; margin: 0px; }
.oauth-area .oauth-btn { display: inline-block; width: 50px; height: 50px; background-size: 30px 30px; background-position: center center; background-repeat: no-repeat; margin: 0px 20px; /*-webkit-filter: grayscale(100%); */
border: solid 1px #ddd; border-radius: 25px; }
.oauth-area .oauth-btn:active { border: solid 1px #aaa; }

.app-login-title {
    line-height: 30px;
    margin: 40px 0;
    text-align: center;
    font-size: 18px;
}

