@charset "utf-8";
/* CSS Document */

input::-webkit-input-placeholder{color:#eee;}
input:focus::-webkit-input-placeholder{color:#eee}


html, body{height:100%; }
.body-login {overflow:hidden;
	margin: 0px;
	padding: 0px;
    padding-top: 90px;
	background:#fff url(../../../images/loginbg@2x.png) no-repeat left bottom;	
	background-size: 100%;
    background-attachment: fixed;
}

.app-login{background:none; height:100%; margin:0 38px; }
.login-top {margin-bottom: 35px;}
.app-login-title {text-align: center; font-size: 18px; color: #fff;  line-height: 30px;}
.app-logo{ width: 105px; height: 105px; margin: 0 auto; background: url(../../../images/logo@2x.png) no-repeat; -webkit-background-size: 100%;
background-size: 100%;}


.mui-input-group { border:none; background-color: transparent;}
.mui-input-group .mui-input-row:after {position: absolute;right: 0;bottom: 0;left: 0;height: 1px;content: '';-webkit-transform: scaleY(.5);transform: scaleY(.5);background-color: #c8c7cc;}
.mui-input-group:before {position: absolute;right: 0;top: 0;left: 0;height: 0;content: '';-webkit-transform: scaleY(.5);transform: scaleY(.5);background-color: #c8c7cc;}
.mui-input-group:after {position: absolute;right: 0;bottom: 0;left: 0;height: 0;content: '';-webkit-transform: scaleY(.5);transform: scaleY(.5);background-color: #c8c7cc;}

.mui-input-group .mui-input-row,
.mui-input-row input {height: 50px; font-size: 16px; color: #eee;}
.mui-input-row input {padding-left: 40px;}
.app-login .account:before,
.app-login .password:before {position: absolute; left: 0; top: 50%; margin-top: -11px; width: 22px; height: 22px; background-size: 22px!important; content: '';}
.account:before {background: url(../../../images/user@2x.png) no-repeat;}
.password:before {background: url(../../../images/psw@2x.png) no-repeat!important;}
.mui-input-row .mui-input-clear~.mui-icon-clear,
.mui-input-row .mui-input-password~.mui-icon-eye {top: 14px; color: #bbb;}
.mui-input-row .mui-input-password ~ .mui-icon-eye.mui-active {
    color: #02c46d;
}

.login-btn {margin-top: 40px;}
.login-btn button{ background: #02c46d; border-radius: 8px; border-color: #02c46d;}
.mui-btn-primary:active {
    color: #fff;
    border-color: #06e883!important;
    background-color: #06e883!important; 
}

.mui-checkbox input[type=checkbox], .mui-radio input[type=radio] { top: 6px; }
.mui-content-padded { margin-top: 25px; }
.mui-btn { padding: 10px; }
.link-area { display: block; margin-top: 25px; text-align: center; }
.spliter { color: #bbb; padding: 0px 8px; }
.oauth-area { position: absolute; bottom: 20px; left: 0px; text-align: center; width: 100%; padding: 0px; margin: 0px; }
.oauth-area .oauth-btn { display: inline-block; width: 50px; height: 50px; background-size: 30px 30px; background-position: center center; background-repeat: no-repeat; margin: 0px 20px; /*-webkit-filter: grayscale(100%); */
border: solid 1px #ddd; border-radius: 25px; }
.oauth-area .oauth-btn:active { border: solid 1px #aaa; }

